soap-producer/src/main/resources/xsd/makePayment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://bmct.com/makePayment"
        xmlns:tns="http://bmct.com/makePayment"
        elementFormDefault="qualified">

    <xs:element name="MakePaymentRequest">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="payerAccount" type="xs:long"/>
                <xs:element name="beneficiaryAccount" type="xs:long"/>
                <xs:element name="amount" type="xs:long"/>
                <xs:element name="bankShortName" type="xs:string"/>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

    <xs:element name="MakePaymentResponse">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="status" type="xs:string"/>


            </xs:sequence>

        </xs:complexType>

    </xs:element>

</xs:schema>