soap-consumer/src/main/resources/xsd/account.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://example.com/account"
        xmlns:tns="http://example.com/account"
        elementFormDefault="qualified">

    <xs:element name="GetAccountInfoRequest">

        <xs:complexType>

            <xs:sequence>

                <xs:element
                        name="accountNumber"
                        type="xs:string"/>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

    <xs:element name="GetAccountInfoResponse">

        <xs:complexType>

            <xs:sequence>

                <xs:element
                        name="customerName"
                        type="xs:string"/>

                <xs:element
                        name="balance"
                        type="xs:decimal"/>

                <xs:element
                        name="currency"
                        type="xs:string"/>

                <xs:element
                        name="status"
                        type="xs:string"/>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

</xs:schema>